@font-face {
	font-family: MicrosoftYaHei;
	src: url('font/MicrosoftYaHei.ttf').format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* screen >1200 px */
@media screen and (min-width: 850px) {
.w {
    width: 80%;
    margin: auto;
}

body {
	margin: 0;
    padding: 0;
	border: 0;
	font-size: 20px;
	font-family: MicrosoftYaHei;
	background-color: #2F2F2F;
}

hr {
    display: block;
    width: 80%;
    margin: auto;
    border-style: inset;
    border-width: 1px;
}

/* 这里是上方导航栏的代码。*/
.header {
    position: fixed;
	background-color: #1F1F1F;
	padding: 0 10%;
	height: 70px;
}

.header ul.r-nav {
    float: right;
}

.header ul.r-nav li {
    float: right;
}

.header ul.l-nav {
    float: left;
}

.header ul.l-nav li {
    float: left;
}

.header ul.l-nav a {
    float: left;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 20px 20px 20px 0px;
}

.header ul.r-nav a {
    float: right;
    color: white;
	font-weight: bold;
	text-align: center;
	padding: 20px 0px 20px 20px;
}

div.header a.home {
    color: rgb(161, 229, 182);
}

.header a.tutorial:hover {
	color: rgb(123, 232, 211);
}

.header a.masterpiece:hover {
    color: rgb(63, 157, 224);
}

.header a.member:hover {
	color: rgb(38, 131, 227);
}

.header a.bilibili:hover {
	color: rgb(111, 76, 222);
}

.header a.register:hover {
    color: #caed52;
}

.header a.login:hover {
    color: #caed52;
}
/* 上方导航栏的代码到此结束。*/

/* 搜索栏代码开始 */
.search {
    padding-top: 100px;
}

.search input {
    float: left;
    width: 80%;
    height: 30px;
    border: 2px solid;
    border-color: #4ec2e1;
    margin: 0 0 0 10%;
    color: #888;
    font-size: 20px;
}

.search button {
    float: left;
    margin: 0;
    height: 34px;
    width: 34px;
    border: 0;
    background-image: url(../img/search_small.png);
}
/* 搜索栏代码结束 */

/* 表格代码开始 */
.table {
    color:#F0F2F5;
    margin-top: 70px;
    margin-bottom: 30px;
}

.table h3 {
    font-size: 40px;
    font-weight: bold;
}

.table table td{
    padding: 10px;
}
/* 代码结束 */

.bottom {
    left: 0;
    right: 0;
    bottom: 0;
}

.footer {
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30pt;
    clear: both;
    color: #F0F2F5;
    text-align: left;
    height: 300pt;
}

.footer ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
.footer li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
}
.footer #tail-introduction {
    float: left;
    width: 25%;
}
.footer #tail-introduction p {
    font-size: 10pt;
}
.footer #tail-introduction #contact-link img {
    width: 20px;
    height: 20px;
	border-radius: 25%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}
.footer h4 {
    font-size: 14pt;
}
.footer #tail1 {
    float: right;
    margin-right: 5%;
}
.footer #tail2 {
    float: right;
    margin-right: 5%;
}
.footer #tail3 {
    float: right;
    margin-right: 5%;
}
.footer #tail4 {
    float: right;
    margin-right: 0;
    margin-bottom: 150pt;
}

.footer hr {
    display: block;
    width: 100%;
    margin: 0;
    border-style: inset;
    border-width: 1px;
}

.copyright {
    text-align: center;
    margin: 20px 20px;
    bottom: 10px;
}
}