@font-face {
	font-family: MicrosoftYaHei;
	src: url('font/MicrosoftYaHei.ttf').format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* screen >1200 px */
@media screen and (min-width: 850px) {
.w {
    width: 80%;
    margin: auto;
}

body {
	margin: 0;
    padding: 0;
	border: 0;
	font-size: 20px;
	font-family: MicrosoftYaHei;
	background-color: #2F2F2F;
}

hr {
    display: block;
    width: 80%;
    margin: auto;
    border-style: inset;
    border-width: 1px;
}

/* 这里是上方导航栏的代码。*/
.header {
    position: fixed;
	background-color: #1F1F1F;
	padding: 0 10%;
	height: 70px;
}

.header ul.r-nav {
    float: right;
}

.header ul.r-nav li {
    float: right;
}

.header ul.l-nav {
    float: left;
}

.header ul.l-nav li {
    float: left;
}

.header ul.l-nav a {
    float: left;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 20px 20px 20px 0px;
}

.header ul.r-nav a {
    float: right;
    color: white;
	font-weight: bold;
	text-align: center;
	padding: 20px 0px 20px 20px;
}

div.header a.home {
    color: rgb(161, 229, 182);
}

.header a.tutorial:hover {
	color: rgb(123, 232, 211);
}

.header a.masterpiece:hover {
    color: rgb(63, 157, 224);
}

.header a.member:hover {
	color: rgb(38, 131, 227);
}

.header a.bilibili:hover {
	color: rgb(111, 76, 222);
}

.header a.register:hover {
    color: #caed52;
}

.header a.login:hover {
    color: #caed52;
}
/* 上方导航栏的代码到此结束。*/

.register-here {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.register-here div {
    text-align: right;
    padding: 10px;
    color: azure;
}

.register-here input {
    text-align: center;
    width: 60%;
    margin-right: 20%;
    height: 25px;
    border: 1px;
    border-radius: 4px;
    color: #888;
}

.register-here .notice {
    margin-top: 20px;
    text-align: center;
    color: red;
}
}