@media screen and (min-width: 850px) {
.footer {
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30pt;
    clear: both;
    color: #F0F2F5;
    text-align: left;
    height: 300pt;
}

.footer ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
.footer li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
}
.footer #tail-introduction {
    float: left;
    width: 25%;
}
.footer #tail-introduction p {
    font-size: 10pt;
}
.footer #tail-introduction #contact-link img {
    width: 20px;
    height: 20px;
	border-radius: 25%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
}
.footer h4 {
    font-size: 14pt;
}
.footer #tail1 {
    float: right;
    margin-right: 5%;
}
.footer #tail2 {
    float: right;
    margin-right: 5%;
}
.footer #tail3 {
    float: right;
    margin-right: 5%;
}
.footer #tail4 {
    float: right;
    margin-right: 0;
    margin-bottom: 150pt;
}

.footer hr {
    display: block;
    width: 100%;
    margin: 0;
    border-style: inset;
    border-width: 1px;
}

.copyright {
    text-align: center;
    margin: 20px 20px;
    bottom: 10px;
}
}