/* screen >1200 px */
@media screen and (min-width: 850px) {
.login-here {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.login-here div {
    text-align: right;
    padding: 10px;
    color: azure;
}

.login-here input {
    text-align: center;
    width: 60%;
    margin-right: 20%;
    height: 25px;
    border: 1px;
    border-radius: 4px;
    color: #888;
}

.login-here .notice {
    margin-top: 20px;
    text-align: center;
    color: red;
}
}