/* screen >1200 px */
@media screen and (min-width: 850px) {

/* 主体部分 */
.container {
    display: flex;
    padding-top: 70px;
    width: 100%;
    margin: 0;
    border: 0;
}

.sidebar {
    overflow: scroll;
    overflow-x: auto;
    width: 23%;
    height: 100vh;
    border-right: 1px solid white;
    border-top: 1px solid white;
    color: white;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar h4 {
    border: 0;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding:10px 5px 15px 15px;
}

.sidebar ul li {
    border: 0;
    padding-left: 15px;
    padding-bottom: 5px;
}

.sidebar .inner {
    border: 0;
    display: none;
    padding-left: 15px;
}

.content {
    overflow: scroll;
    overflow-x:auto;
    width: 77%;
    height: 100vh;
    padding: 15px;
    border-top: 1px solid white;
    color:bisque;
    z-index: 1;
}

.content .head-img {
    border: 0;
    width: 100%;
}

.content .head-img img {
    border:0;
    float: left;
    height: 50px;
}

.content .md {
    border:0;
    clear: both;
}
/* 主体部分结束 */
}