{% extends 'header-footer.html' %}
{% load static %}

{% block title_and_css %}
<title>浙大天协简介</title>
<link rel="stylesheet" href="{% static 'css/about.css' %}"> 
{% endblock %}

{% block middle %}
<div class="empty"></div>

        <!-- introduction -->
        <div class="overview w">
            <p>
                浙江大学学生天文爱好者协会(Zhejiang University Astronomical Amateur Association)成立
                于2002年，是浙江大学四星级学术科技类社团。围绕天文、科普和公益三大主题，我们以交流共享、探索 
                发现为宗旨，通过组织上山观星实践、路边天文体验，以及开设天文精品课程和开展天文知识讲座等形式， 
                不断为校内热爱天文的同学提供了解天文、靠近星空的机会。随着多年建设，我们已发展出完善的组织架构 
                和会员体系，在校内外拥有自己的粉丝，成为普及星空文化的先行者。
            </p>
        </div>
        <div class="part w">
            <ul>
                <li id="xueshu">
                    <p>
                    作为天协的核心，学术部主
                    要负责观星活动的器材使
                    用、天文望远镜教学、精品
                    课程教学以及社团内部的天
                    文知识分享!
                    </p>
                </li>
                <li id="gongguan">
                    <p>
                        作为天协的沟通枢纽，公关
                        部负责规划社团的活动安
                        排，天协的招牌活动如上山
                        观星、浙大天协精品课程都
                        是由我们一手策划!
                    </p>
                </li>
                <li id="xuanchuan">
                    <p>
                        作为天协对外宣传的窗口，
                        我们建立了多渠道的宣传体
                        系。着手平面设计、音视频
                        产出，我们在离星空更远的
                        地方呼唤星空。
                    </p>
                </li>
            </ul>
        </div>
        <!-- introduction ends -->

        <!-- contact -->
        <div class="contact w">
			<h3>联系我们</h3>
			<p>浙江大学学生天文爱好者协会</p>
			<p>微信号：ZJUAAA_</p>
			<p>QQ：3389651066</p>
			<p>地址：浙江省杭州市西湖区三墩镇余杭塘路866号<br>
			浙江大学紫金港校区东四教学楼502室</p>
		</div>
         <!-- contact ends -->
        <hr>
{% endblock %}
