{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author 2023/08-" content="雷可，诸致远，洪艺中，庞彬">

        <meta name="newest-version" content="2023/8/28">
        <meta name="description" content="浙大天协是浙大一群天文爱好者的聚集地">
        <meta name="keywords" content="浙江大学,浙大天协,天文爱好者,社团">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        {% block title_css %}{% endblock %}
        <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    </head>
    <body> 
        <!-- header -->
		<div class="header w">
            <ul class="r-nav">
                {% if not show %}
                <li><a href="login.html" class="login">登陆</a><br></li>
                <li><a href="register.html" class="register">注册</a></li>
                {% else %}
                <li>
                    <a href="#" class="user">{{user_name}}</a>
                    <ul class="drop">
                        <li><a href="person.html" class="person">个人中心</a></li>
                        <li><a href="login.html" class="relogin">退出登录</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>                      
            <ul class="l-nav">    
			    <li><a href="index.html" class="home">主页</a></li>			
                <li><a href="tutorial.html" class="tutorial">知识手册</a></li>
                <li><a href="masterpiece.html" class="masterpiece">天文摄影</a></li>
                {% if show %}
			    <li><a href="member.html" class="member">天协通讯录</a></li>
                {% endif %}
			    <li><a href="https://space.bilibili.com/3493080141400107" class="bilibili">哔哩哔哩</a></li>
            </ul>			
		</div>
        <!-- header end -->

        {% block content %}
        {% endblock %}
        <script>
            $(function () {
                $(".user").mouseover(function () {
                    $(".drop").show();
                });
                $(".r-nav").mouseleave(function () {
                    $(".drop").hide();
                });
            })
        </script>
    </body>
</html>

