{% extends 'header-footer.html' %}
{% load static %}

{% block title_and_css %}
<title>浙大天协通讯录</title>
<link rel="stylesheet" href="{% static 'css/member.css' %}"> 
{% endblock %}

{% block middle %}
<!-- search bar -->
<form class="search w" method="post">
    {% csrf_token %}
    <input type="text" placeholder=" 搜索(姓名，部门)" name="name_department"> <button></button>
</form>
<!-- search bar end -->

<!-- table -->
<div class="table w">
<h3>2023天协通讯录</h3>
<table>
    <tr>
        <td>姓名</td><td>部门</td><td>学号</td><td>手机号</td><td>QQ</td><td>微信</td><td>专业</td><td>家乡</td><td>邮箱</td>
    </tr>
    {% for item in queryset %}
    <tr>
        <td>{{item.name}}</td><td>{{item.department}}</td><td>{{item.student_id}}</td><td>{{item.phone}}</td><td>{{item.qq}}</td>
        <td>{{item.wechat}}</td><td>{{item.major}}</td><td>{{item.home}}</td><td>{{item.email}}</td>
    </tr>
    {% endfor %}
</table>
</div>
<!-- table -->
<hr>
{% endblock %}
