{% extends 'header-footer.html' %}
{% load static %}

{% block title_and_css %}
<link rel="stylesheet" href="{% static 'css/person.css' %}">
<title>{{user_name}}的个人中心</title>
{% endblock %}

{% block middle %}
<!-- articles -->
<div class="article w">
    <div class="box-head">
        <h3>知识手册</h3>
        <a href="tutorial.html">查看全部</a>
    </div>
    <div class="box-body">
        <ul>
            {% for item in tutorial %}
            <li>
                <a href="tutorial-detail.html?id={{item.id}}"><img src="{% static 'img/'|add:item.img_url %}"></a>
                <a href="tutorial-detail.html?id={{item.id}}"><span class="description">{{item.title}}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- articles end -->

<hr>
<!-- masterpiece -->
<div class="picture w">
    <div class="box-head">
        <h3>天文摄影画廊</h3>
        <a href="masterpiece.html">查看全部</a>
    </div>
    <div class="box-body">
        <ul>
            {% for item in masterpiece %}
            <li>
                <a href="masterpiece-detail.html?id={{item.id}}"><img src="{% static 'img/small_'|add:item.url %}"></a>
                <a href="masterpiece-detail.html?id={{item.id}}"><span class="description">作者：{{item.author}}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- masterpiece end -->
 <hr>
{% endblock %}